textEmbeddingCacheTimeout=I"604800"
textEmbeddingProviderConfigurationJSONs=[ \
  "\{\"attributes\":\{\"accessToken\":\"\",\"autoTruncate\":true,\"hostAddress\":\"http://txtai:8000\",\"maxCharacterCount\":\"2000\",\"model\":\"\",\"modelTimeout\":25,\"textTruncationStrategy\":\"beginning\"\},\"embeddingVectorDimensions\":768,\"languageIds\":[\"en_US\",\"fr_FR\"],\"modelClassNames\":[\"com.liferay.blogs.model.BlogsEntry\",\"com.liferay.document.library.kernel.model.DLFileEntry\",\"com.liferay.knowledge.base.model.KBArticle\",\"com.liferay.message.boards.model.MBMessage\",\"com.liferay.journal.model.JournalArticle\",\"com.liferay.wiki.model.WikiPage\"],\"providerName\":\"txtai\"\}", \
  ]
textEmbeddingsEnabled=B"true"
